<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>GABARITOS DE MATEMÁTICA</title>
</head>
<body>
<hr>

<div class="container">
    <div class="h1 text-center bg-primary text-light">GABARITOS SIMULADO DE MATEMÁTICA</div>
    <hr>
</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="display-6 text-center">PRIMEIRO SIMULADO MATEMÁTICA</h3>            
            </div>
            <div class="row">
            <div class="col">
                <button class="btn btn-warning" id="esconder_primeiro_simulado_matematica">Esconder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" id="mostrar_primeiro_simulado_matematica">Mostrar</button> 
            </div>
        </div>
    </div>    
</div>
<div class="container-fluid" id="gab_primeiro_simulado_matematica">
        <table class="table table-dark">
            <tr>
                <th>NOME</th>           
                <th>Q23</th>
                <th>Q24</th>
                <th>Q25</th>
                <th>Q26</th>
                <th>Q27</th>
                <th>Q28</th>
                <th>Q29</th>
                <th>Q30</th>
                <th>Q31</th>
                <th>Q32</th>
                <th>Q33</th>
                <th>Q34</th>
                <th>Q35</th>
                <th>Q36</th>
                <th>Q37</th>
                <th>Q38</th>
                <th>Q39</th>
                <th>Q40</th>
                <th>Q41</th>
                <th>Q42</th>
                <th>Q43</th>
                <th>Q44</th>
                <th>acertos</th>
                <th>NOTA</th>
                <th>AÇÃO</th>
            </tr>
            
            
            <tbody>         
                
                <% primeiro_simulado.forEach(function(primeiro_simulado) { %>
                    <tr>          
                        <td><%= primeiro_simulado.nome %></td>
                        <td><%= primeiro_simulado.q23 %></td>
                        <td><%= primeiro_simulado.q24 %></td>
                        <td><%= primeiro_simulado.q25 %></td>
                        <td><%= primeiro_simulado.q26 %></td>
                        <td><%= primeiro_simulado.q27 %></td>
                        <td><%= primeiro_simulado.q28 %></td>
                        <td><%= primeiro_simulado.q29 %></td>
                        <td><%= primeiro_simulado.q30 %></td>
                        <td><%= primeiro_simulado.q31 %></td>
                        <td><%= primeiro_simulado.q32 %></td>
                        <td><%= primeiro_simulado.q33 %></td>
                        <td><%= primeiro_simulado.q34 %></td>
                        <td><%= primeiro_simulado.q35 %></td>
                        <td><%= primeiro_simulado.q36 %></td>
                        <td><%= primeiro_simulado.q37 %></td>
                        <td><%= primeiro_simulado.q38 %></td>
                        <td><%= primeiro_simulado.q39 %></td>
                        <td><%= primeiro_simulado.q40 %></td>
                        <td><%= primeiro_simulado.q41 %></td>
                        <td><%= primeiro_simulado.q42 %></td>
                        <td><%= primeiro_simulado.q43 %></td>
                        <td><%= primeiro_simulado.q44 %></td>
                        <td><%= primeiro_simulado.nota_matematica %></td>
                        <td><%= Math.floor(primeiro_simulado.nota_matematica * 100 / 22)/1 %></td>
                        
                        
                        <td class="align-middle">
                            <form method="POST" action="/deletar_simulado_matematica">
                                <input type="hidden" name="id" value="<%=primeiro_simulado.id%>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                        
                    </tr>
                    <% }); %> 
                    
                </tbody>
                
            </table>
            
        </div>
        <br>
        <hr>
        <hr>
        <br>
    </body>
<script>
    var gab_primeiro_simulado_matematica = document.getElementById('gab_primeiro_simulado_matematica');
    var btn_esconde_gab_primeiro_simulado_matematica = document.getElementById('esconder_primeiro_simulado_matematica');
    var btn_mostra_gab_primeiro_simulado_matematica = document.getElementById('mostrar_primeiro_simulado_matematica');

   
     
    btn_esconde_gab_primeiro_simulado_matematica.addEventListener('click', function() {
        gab_primeiro_simulado_matematica.style.display = 'none';
    });

    btn_mostra_gab_primeiro_simulado_matematica.addEventListener('click', function() {
        gab_primeiro_simulado_matematica.style.display = 'block';
    });

   


</script>


<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>